.avatar {
  margin: 10px;
  display: grid;
  overflow: hidden;
  width: 80px;
  height: 80px;

  > *,
  > * > * {
    border-radius: 50%;
  }
  .affiliation {
    display: grid;
    place-self: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .image {
    place-self: center;
    height: 90%;
    width: 90%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
