<div class="welcome">
  <div class="item">
    <h2>MP Manager</h2>
    View, edit and manage MP's with a simple to use application.
    <a [routerLink]="['manage']" class="card">
      <div class="image">
        <img src="/assets/westminster.png" alt="Some Image" />
      </div>
      <div class="title">MP Manager</div>
      <div class="subtitle">View, edit and manage MP's with a simple to use application.</div>
      <div class="line"></div>
      <div class="date">{{ today }}</div>
    </a>
  </div>
</div>

