<div class="welcome">
  <div class="item">
    <h2>Welcome to the MP Manager</h2>
    <div class="foreword">
      <p>A cheeky attempt at recreating the feel of the UK Parliament website.</p>
      <p>I tried to show a little bit of everything I know of (though I'm sure I've missed a few spots) so whilst it's not exactly the pinnacle of clean code a lot of love went into this.</p>
      <p>At least it does what it asked for!</p>
      <p style="font-size: xx-small">I do hope it "runs on your machine" though...</p>
    </div>

    <a [routerLink]="['manage']" class="card">
      <div class="image">
        <img src="/assets/westminster.png" alt="Some Image" />
      </div>
      <div class="title">MP Manager</div>
      <div class="subtitle">View, edit and manage MP's with a simple to use application.</div>
      <div class="line"></div>
      <div class="date">{{ today }}</div>
    </a>
  </div>
</div>

