<div class="card">
  <div class="decoration"></div>
  <div class="avatar">
    <div class="affiliation" [style.backgroundColor]="mp.affiliationColour">
      <div class="image">
        <img src="/assets/defaultuser.jpg" alt="Default User" />
      </div>
    </div>
  </div>
  <div class="info">
    <div class="primary">
      <div class="name">{{ mp.name }}</div>
      <div class="arrow">></div>
    </div>
    <div class="affiliation">{{ mp.affiliationName }}</div>
    <div class="line"></div>
    <div class="county">{{ mp.addressCounty }}</div>
  </div>
</div>

