<div class="card" [class.highlight]="currentId == mp.personId" (click)="openEditor(mp.personId)">
  <div class="decoration"></div>
  <app-mp-avatar [colour]="mp.affiliationColour" class="avatar"></app-mp-avatar>
  <div class="info">
    <div class="primary">
      <div class="name">{{ mp.name }}</div>
      <div class="arrow">›</div>
    </div>
    <div class="affiliation">{{ mp.affiliationName }}</div>
    <div class="line"></div>
    <div class="county">{{ mp.addressCounty }}</div>
  </div>
</div>

