.card {
  cursor: pointer;
  display: grid;
  grid-template-columns: 5px 100px 1fr;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  border-radius: 0px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
  flex-basis: 500px;
  &.highlight {
    background-color: rgb(217, 209, 235);
    &:hover {
      background-color: rgb(217, 209, 235);
    }
  }
  &:hover {
    background-color: rgb(245, 245, 245);
  }
}

.decoration {
  width: 5px;
  background-color: var(--parliament-color);
}
.avatar {
  place-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  color: var(--parliament-color);
  .primary {
    margin: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    > * {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
  .affiliation {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .line {
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
  }
  .county {
    color: gray;
    margin: 5px 0px;
  }
}
